{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

{% block main %}]

{{ object.id }}

<form method="post">
    {% csrf_token %}

    {{ form|bootstrap }}

    <button type="submit">Salvar</button>
    {% if object %}
        <a href="{% url 'delete_hora_extra' object.id %}" class="btn btn-danger">
                Deletar
            </a>


    {% endif %}

    <input type="text" Id="campoX">

    <button onclick="utilizouHoraExtra({{ object.id }})" class="btn btn-info" type="button">
            Marcar como utilizado
        </button>

    <button onclick="naoutilizouHoraExtra({{ object.id }})" class="btn btn-info" type="button">
            Marcar como não utilizado
        </button>
</br>
</form>

<h2 id="horas_atualizadas">{{ object.funcionario.total_horas_extra }}</h2>
{% endblock %}

{% block static %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/funcoes-ajax.js' %}"></script>
{% endblock %}